[Unit]
Wants={{ required_services | join(" ") }}
After={{ required_services | join(" ") }}

[Service]
ExecStop=
# https://github.com/Rheinwerk/ansible-role-update_tomcat_config/blob/master/templates/etc/ansible/playbooks/tomcat-drain.yml.j2#L24
ExecStop=/bin/sleep 42
ExecStop={{ _tomcat.install_dir }}/bin/catalina.sh stop 60

# Tomcat needs 60 at most to stop before getting killed
TimeoutStopSec=60
